{% extends "main.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <!-- Flex container for 2x2 charts and Vertical box -->
        <div class="d-flex flex-row">
            <!-- 2x2 Chart Grid taking 2/3 of the row -->
            <div class="col-8">
                <div class="row chart-wrapper">
                    <div class="col-6 chart-container">
                        <canvas id="chart1"></canvas>
                    </div>
                    <div class="col-6 chart-container">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
                <div class="row chart-wrapper">
                    <div class="col-6 chart-container">
                        <canvas id="chart3"></canvas>
                    </div>
                    <div class="col-6 chart-container">
                        <canvas id="chart4"></canvas>
                    </div>
                </div>
            </div>

            <!-- Top 5 occurrences -->
            <div class="col-4 d-flex justify-content-center align-items-center" style="height: 450px;">
                <div id="verticalContainer" class="text-center text-white p-1" style="font-size: 24px; width: 100%;">
                    <h5 style="color: #f8c529; margin-top: 10px;">Most Detected Misinformation Sites</h5>
                    <table class="table table-bordered custom-domain-table">
                        <thead>
                            <tr>
                                <th scope="col">Domain</th>
                                <th scope="col">Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domain, count in top_domains.items() %}
                            <tr>
                                <td>{{ domain }}</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
            
                            <!-- Ensure there are always 5 rows -->
                            {% for _ in range(5 - top_domains|length) %}
                            <tr>
                                <td>&nbsp;</td> <!-- Empty cell -->
                                <td>&nbsp;</td> <!-- Empty cell -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="urlModalLabel">Check a News Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="urlForm" method="post" onsubmit="showLoadingOverlay();">
                        <div class="mb-3">
                            <label for="formGroupExampleInput" class="form-label">Insert a news article URL below:</label>
                            <input type="text" id="input_data" name="input_data" class="form-control" placeholder="https://example.com" value="">
                        </div>
                        <input id="submitButton" class="btn btn-primary custom-button" type="submit" value="Check">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="p-3"></div>

    <!-- Table displaying the result -->
    <table class="table table-bordered custom-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Explanation</th>
                <th scope="col">Interpretation</th>
                <th scope="col">Confidence</th>
                <th scope="col">Deepfake</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            <tr style="border-width: 3px">
                <th scope="row">1</th>
                <td>{{result['title']}}</td>
                <td>{{result['explanation']}}</td>
                <td>{{result['interpretation']}}</td>
                <td>{{result['confidence']}}</td>
                <td>{{result['deepfake']}}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6" style="text-align: center;">No data available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>

<!-- Loading Screen -->
<div id="loadingOverlay" class="loading-overlay" style="display: none;">
    <div class="spinner-border text-light" role="status" style="width: 100px; height: 100px;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var chartData = JSON.parse('{{ chartData }}');
</script>

<script src="{{ url_for('static', path='javascript/drawChart.js') }}"></script>

<!-- styling for the page -->
<style>

    .chart-container {
        padding: 5px;
        background-color: rgb(203, 203, 203);
        border-radius: 15px;
        width: 400px;
        height: 200px;
        margin: 10px;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .chart-wrapper {
        padding-bottom: 5px;
    }

    .custom-button {
        background-color: #007bff;
        color: white;
        border: none;
    }

    .custom-button:hover {
        background-color: #0056b3;
        color: white;
    }

    .custom-table {
        background-color: #333333;
        color: white;
        border-color: #575656;
        border-width: 3px;
    }

    .custom-table th {
        background-color: #444444;
        color: white;
        border-width: 3px;
    }

    .custom-table td {
        background-color: #444444;
        color: white;
        border-width: 3px;
    }

    .modal-header {
        background-color: #444444;
        color: white;
    }

    .loading-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    /* Custom styling for the domain table */
    .custom-domain-table {
        margin-top: 30px;
        background-color: #333333; /* Dark background */
        color: white; /* White text */
        border-color: #575656; /* Lighter border */
        border-width: 3px; /* Border width */
    }

    .custom-domain-table th {
        margin-top: 30px;
        background-color: #444444; /* Darker header */
        color: white;
        border-width: 3px;
    }

    .custom-domain-table td {
        margin-top: 30px;
        background-color: #444444; /* Darker cells */
        color: white;
        border-width: 3px;
    }

    /* Padding for cells to give more space */
    .custom-domain-table td, .custom-domain-table th {
        padding: 10px;
        text-align: center;
    }

</style>

<!-- Script to handle the loading spinner and overlay -->
<script>
    function showLoadingOverlay() {
        var modal = bootstrap.Modal.getInstance(document.getElementById('urlModal'));
        modal.hide();
        document.getElementById("loadingOverlay").style.display = "flex";
    }
</script>

<script>
    window.addEventListener("load", function () {
        document.getElementById('urlForm').reset();

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    });
</script>
{% endblock %}
