{% extends "main.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="row">
        <!-- Flex container for 1x2 charts and Vertical box -->
        <div class="d-flex flex-row">
            <!-- 1x2 Chart Grid taking 1/3 of the row -->
            <div class="col-4"  styles="margin: 3px;">
                <div class="row chart-wrapper">
                    <div class="col chart-container ">
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
                <div class="row chart-wrapper mt-3">
                    <div class="col chart-container ">
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>

            <!-- Top 5 occurrences taking 1/3 of the row -->
            <div class="col-4 " styles="margin: 5px;">
                <div id="verticalContainer" class="text-center text-white p-3 " style="font-size: 18px; width: 100%;">
                    <h5 style="color: #f8c529; font-size: 25px;">Authors Spreading Most Disinformation</h5>
                    <table class="table table-bordered custom-domain-table">
                        <thead>
                            <tr>
                                <th scope="col">Author</th>
                                <th scope="col">Frequency</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for domain, count in top_authors.items() %}
                            <tr>
                                <td>{{ domain }}</td>
                                <td>{{ count }}</td>
                            </tr>
                            {% endfor %}
            
                            <!-- Ensure there are always 5 rows -->
                            {% for _ in range(6 - top_authors|length) %}
                            <tr>
                                <td>&nbsp;</td> <!-- Empty cell -->
                                <td>&nbsp;</td> <!-- Empty cell -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>    

            <!-- Vertical container for explanation in the remaining 1/3 of the row -->
            <div class="col-4 mb-5" style="background-color: #2d2d2d; border-radius: 15px; height:95%;">
                <div id="explanationContainer" class="text-center text-white" style="font-size: 18px; width: 100%; height: 460px; border-radius: 10px;">
                    <h5 style="color: #f8c529; margin-top: 30px; font-size: 25px; align-content: center;">Explanation</h5>
                    <div class="text-wrapper" style="overflow-y: auto; height: 400px; padding: 30px; margin-top: 35px;">
                        {% if result %}
                            <p style="text-align: justify;">
                                {{ result['explanation'] }}
                            </p>
                        {% else %}
                            <p style="text-align: center;">
                                No explanation available.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="p-3"></div>

    <!-- Table displaying the result -->
    <table class="table table-bordered custom-table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Interpretation</th>
                <th scope="col">Confidence Level ( % )</th>
                <th scope="col">Is it Deep Fake?</th>
                <th scope="col">Sentimental Analysis</th>
                <th scope="col">Target Group</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for i in result %}
            <tr style="border-width: 3px">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ i['title'] }}</td>
                <td>{{ i['interpretation'] }}</td>
                <td>{{ i['confidence'] }}%</td>
                <td>{{ i['deepfake'] }}</td>
                <td>{{ i['sentiment_explanation'] }}</td>
                <td>{{ i['target_Audience'] }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7" style="text-align: center;">No data available</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <!-- Pagination controls -->
<!-- Pagination controls -->
    <!-- Pagination controls -->
    <div class="pagination-container">
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <!-- Previous Page Link -->
                <li class="page-item {% if page == 1 %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page - 1 }}&category={{ selected_category or '' }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                <!-- Next Page Link -->
                <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                    <a class="page-link" href="?page={{ page + 1 }}&category={{ selected_category or '' }}" aria-label="Next">
                        <span aria-hidden="true">Next &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="urlModalLabel">Check a News Article</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="urlForm" method="post" onsubmit="showLoadingOverlay();">
                        <div class="mb-3">
                            <label for="input_data" class="form-label">Insert a news article URL below:</label>
                            <input type="text" id="input_data" name="input_data" class="form-control" placeholder="https://example.com" value="">
                        </div>
                        <input id="submitButton" class="btn btn-primary custom-button" type="submit" value="Check">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Overlay HTML for displaying related articles -->
    <div id="article-overlay" class="modal" tabindex="-1" style="display:none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Related Articles</h5>
                    <button type="button" class="btn-close" id="overlay-close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Title</th>
                                <th scope="col">URL</th>
                            </tr>
                        </thead>
                        <tbody id="related-articles-table">
                            <!-- Articles will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Loading Screen -->
<div id="loadingOverlay" class="loading-overlay" style="display: none;">
    <div class="spinner-border text-light" role="status" style="width: 100px; height: 100px;">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var interpretationCounts = JSON.parse('{{ interpretationCounts | tojson | default({}) }}') || {};
    console.log("Interpretation Counts: ", interpretationCounts);
</script>

<script src="{{ url_for('static', path='javascript/drawChart.js') }}"></script>

<!-- Script to handle the loading spinner and overlay -->
<script>
    function showLoadingOverlay() {
        var modal = bootstrap.Modal.getInstance(document.getElementById('urlModal'));
        modal.hide();
        document.getElementById("loadingOverlay").style.display = "flex";
    }
</script>

<script>
    window.addEventListener("load", function () {
        document.getElementById('urlForm').reset();

        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    });
</script>



{% endblock %}
